.header {
  width: 80%;
  float: left;
}

.header__link {
  color: #fff;
}

/* Note: we could have used .header h1 but that's against BEM! */
.header__title {
  font-family: $font-family-title;
  padding: 1em 2em;
  margin: 0;
  color: #fff;
  background-color: #333;
  font-size: 200%;
  font-weight: bold;
}

.header__logo {
  margin-right: 1em;
  vertical-align: middle;
  width: 2em;
  height: 2em;
}